.services__wrapper {
  background-color: var(--color-darkPurple);
  min-height: 100vh;
  /* Add the SVG background as a linear gradient and SVG data URL */
  background-image: linear-gradient(
      to bottom,
      var(--color-darkPurple) 70%,
      transparent 70%
    ),
    url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1512' height='369' viewBox='0 0 1512 369' fill='none'><path d='M588.5 22.6405C427.7 -13.0694 129.833 7.76139 1 22.6405L-23 418H1638L1606.5 0.0319915C1517 -0.74095 1308.1 12.2058 1188.5 70.1764C1039 142.64 789.5 67.2779 588.5 22.6405Z' fill='%230C0F1C'/></svg>");
  background-position: bottom left; /* Adjust the horizontal position if needed */
  background-repeat: no-repeat;
}

.services__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.services__header {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: var(--font-alt);
  font-size: 40px;
  line-height: 45px;
  color: white;
}

.service__title {
  text-align: center;
  font-weight: 700;
  font-family: var(--font-base);
  font-size: 20px;
  line-height: 25px;
  color: white;
  margin-top: 36px;
}

.service__p {
  text-align: center;
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 25px;
  color: white;
  margin-top: 8px;
  font-weight: 400;
}
