.services__wrapper {
  background-color: var(--color-darkPurple);
  min-height: 100vh;
  /* Add the SVG background as a linear gradient and SVG data URL */
  background-image: linear-gradient(
      to bottom,
      var(--color-darkPurple) 70%,
      transparent 70%
    ),
    url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='4750' height='421' viewBox='0 0 4750 421' fill='none'><path d='M611.5 25.6405C450.7 -10.0694 128.833 10.7614 0 25.6405V421H1661L1629.5 3.03199C1540 2.25905 1331.1 15.2058 1211.5 73.1764C1062 145.64 812.5 70.2779 611.5 25.6405Z' fill='%230C0F1C'/><path d='M2543.5 22.803C2704.3 -13.1632 3002.17 7.81709 3131 22.803L3155 421H1495L1525.5 0.0322211C1615 -0.746268 1823.9 12.2934 1943.5 70.6801C2093 143.663 2342.5 67.7607 2543.5 22.803Z' fill='%230C0F1C'/><path d='M4138.5 45.5031C4299.3 11.5872 4621.17 31.3715 4750 45.5031V421H3089L3120.5 24.0304C3210 23.2963 3418.9 35.5926 3538.5 90.6508C3688 159.474 3937.5 87.8979 4138.5 45.5031Z' fill='%230C0F1C'/></svg>");
  background-position: bottom left; /* Adjust the horizontal position if needed */
  background-repeat: no-repeat;
}

.services__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.services__header {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: var(--font-alt);
  font-size: 40px;
  line-height: 45px;
  color: white;
}

.service__title {
  text-align: center;
  font-weight: 700;
  font-family: var(--font-base);
  font-size: 20px;
  line-height: 25px;
  color: white;
  margin-top: 36px;
}

.service__p {
  text-align: center;
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 25px;
  color: white;
  margin-top: 8px;
  font-weight: 400;
}
