.about__wrapper {
  background-color: var(--color-darkPurple);
  min-height: 100vh;
  /* Add the SVG background as a linear gradient and SVG data URL */
  background-image: linear-gradient(
      to bottom,
      var(--color-darkPurple) 70%,
      transparent 70%
    ),
    url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1512' height='369' viewBox='0 0 1512 369' fill='none'><path d='M588.5 22.6405C427.7 -13.0694 129.833 7.76139 1 22.6405L-23 418H1638L1606.5 0.0319915C1517 -0.74095 1308.1 12.2058 1188.5 70.1764C1039 142.64 789.5 67.2779 588.5 22.6405Z' fill='%230C0F1C'/></svg>");
  background-position: bottom left; /* Adjust the horizontal position if needed */
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.about__p {
  text-align: left;
  font-family: var(--font-base);
  font-size: 18px;
  color: white;
  font-weight: 600;
  line-height: 45px;
}

.about__padding {
  padding: 4rem 2rem;
}

.about__text {
  margin-bottom: 16px;
}

.about__header {
  text-align: center;
  font-family: var(--font-alt);
  font-size: 40px;
  line-height: 45px;
  color: white;
  margin-bottom: 80px;
}

.about__image {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .about__image img {
    width: 250px;
  }
}
